// Preventing FOUC
// ###############
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.custom-navigation__top-bar {
  padding: 0;
}
.custom-navigation__link  {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.custom-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.custom-navigation__top-bar a {
  text-decoration: none;
  color: inherit;
}
.custom-navigation_spacer {
  height: 42px;
}

#tooltip {
  position:absolute;
  z-index:9999;
  font-size:14px;
  color: #1a1a1a;
  background-color: rgba(245,245,245,1);
  border-radius: 3px;
  padding: 4px 6px;
  max-width: 300px;
}
#tooltip:empty {
  display:none;
}
#tooltip .region-name {
  font-weight: bolder;
}

#rfl-map {
  width: 100%;
  z-index: 0;
}
#rfl-map svg path {
  pointer-events: all;
}
.region__default {
  cursor: pointer;
  pointer-events: all;
  stroke: rgba(16,20,18, 0.5);
  stroke-width: 2px;
  fill: rgba(16,20,18,0);
  fill-opacity: 0.65;
  stroke-linecap: round;
}
.legend-color span {
  opacity: 0.65;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    
}
.info.legend:empty {
  display:none;
}
#legend__foreign {
  padding-top: 6px;
  margin-top: 6px;
  border-top: 1px solid #888888;
}
#legend__foreign:empty {
  display:none;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend-max {
  float:right;
}
.legend-min {
  float:left;
}

/* Side Menu */
#sidebar-wrapper {
    font-size: 14px;
    z-index: 1001;
    position: fixed;
    right: 0;
    width: 275px;
    height: 100%;
    margin-right: -275px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav ul { list-style: none; }
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a { color: #999; }
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}
#sidebar-wrapper.active {
    right: 275px;
    width: 275px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle { margin: 5px 5px 0 0; }
.logout { text-indent: 0; }
.sidebar-nav .fa { display: inline; }
.sidebar-nav .nav-float-right {
      float: right;
      line-height: inherit;
      margin-right: 20px;
}
.sidebar-nav .nav-arrow:before { content: "\f053"; }
.sidebar-nav .active .nav-arrow:before { content: "\f078"; }
.sidebar-nav .second-level {
  padding-left: 0;
  text-indent: 40px;
}
.sidebar-nav .second-level li  { text-indent: 40px; }
.second-level-sector { font-weight: 600; color: #555; }
